<?xml version="1.0" encoding="UTF-8"?>
<events>
<Event>
<code>
1
</code>
<title>
Theorie C++
</title>
<timing>
<Timing>
<day>
Lundi
</day>
<start>
<Time>
<Hour>
8
</Hour>
<Minute>
30
</Minute>
</Time>
</start>
<duration>
<Time>
<Hour>
2
</Hour>
<Minute>
0
</Minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
<Event>
<code>
4
</code>
<title>
Labo C/Linux
</title>
<timing>
<Timing>
<day>
Mardi
</day>
<start>
<Time>
<Hour>
10
</Hour>
<Minute>
30
</Minute>
</Time>
</start>
<duration>
<Time>
<Hour>
1
</Hour>
<Minute>
30
</Minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
<Event>
<code>
9
</code>
<title>
Theorie Java
</title>
</Event>
<Event>
<code>
17
</code>
<title>
Labo C++
</title>
<timing>
<Timing>
<day>
Jeudi
</day>
<start>
<Time>
<Hour>
13
</Hour>
<Minute>
30
</Minute>
</Time>
</start>
<duration>
<Time>
<Hour>
2
</Hour>
<Minute>
0
</Minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
<Event>
<code>
3
</code>
<title>
Seminaire EVS
</title>
<timing>
<Timing>
<day>
Vendredi
</day>
<start>
<Time>
<Hour>
8
</Hour>
<Minute>
30
</Minute>
</Time>
</start>
<duration>
<Time>
<Hour>
4
</Hour>
<Minute>
0
</Minute>
</Time>
</duration>
</Timing>
</timing>
</Event>
</events>
